@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,200;1,300&display=swap");

.BOX {
  font-family: "Poppins", sans-serif;
}
.main {
  float: left;
  width: 60%;
  padding: 0 20px;
}

.SubBtn {
  border: 1px solid #a0defb;
  background: transparent;
  color: #a0defb;
  border-radius: 10px;
  height: 45px;
}
.right {
  border-left: 3px solid #a0defb;
  border-bottom: 3px solid #a0defb;
  float: left;
  border-radius: 15px;
}

.homeImg {
  width: 400px;
  height: 600px;
  border-radius: 10px;
}

/* For mobile phones: */
@media only screen and (max-width: 620px) {
  .main,
  .right {
    width: 100%;
  }
  .homeImg {
    height: 300px;
  }
}
